body{
	background-color: #13132f;
	color: #3efdad;

	}

a {
    color: #3efdad;
}

a:hover, a:focus {
    color: #3efdad;
}

#wrap {

	margin:auto;
}

blockquote ul li {

	font-size: 40px;
}

blockquote p {

	font-size: 40px;
}

blockquote h1 {

	font-size: 40px;
}

